doctype html
html(lang="en")
head
  link(href='/style.css', rel='stylesheet')

body
  

  h1 Goodbye!
  div.logout
    <img class='lol', src='http://cdn2.sbnation.com/imported_assets/996583/gif_medium.gif'></img>
  <a class='link', href="/login"> <strong>Come Back to the Races! </strong> ...</a>