doctype html
html(lang="en")
head
  link(href='/style.css', rel='stylesheet')

body
  
  div.navigation
    ul
      li
        form(action="/main", method="post")
          button(type="submit", class="main") Main
      li 
        form(action="/tires", method="post")
          button(type="submit", class="button-tires") Tires
      li
        form(action="/brakes", method="post")
          button(type="submit", class="button-brakes") Brakes
      li
        form(action="/logout", method="post")
          button(type="submit", class="logout") Quit
          
  div.tireads
    h1 Sponsor Offerings
    img(class="image", src="http://tirecouponssale.com/wp-content/uploads/2012/05/Tire-Coupons1.jpg")
    img(class="image", src="http://somanydiscounts.com/wp-content/uploads/2013/05/Bridgestone-Best-in-Class-Discount-Tires-300x175.jpg")
    img(class="image", src="http://discounttire-coupons.org/wp-content/uploads/2011/11/discount-tire-coupons-22.jpg")
